@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: "Chau Philomene One", sans-serif;
}

body
{
    background-color: #fdf6c8;
}

header
{
    width: 100%;
    height: 10vw;
    display: flex;
    background-color: #badf8b;
    align-items: center;
    border-bottom: 3px solid #25995c;
    justify-content: space-between;
    position: fixed;
    top: 0;
}

header img
{
    border: solid 2px #25995c;
    border-radius: 100%;
    width: 8vw;
    margin: 1vw;
    height: auto;
}

nav
{
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 5vw;    
}

nav a
{
    text-align: center;
    font-size: 2vw;
    color: black;
    text-decoration: none;
    transition: 0.2s;
}

nav a:hover
{
    transform: scale(1.08);
}

nav p
{
    color: rgb(70, 70, 70);
    font-size: 30px;
    font-weight: 100;
}

/*FIM HEADER*/

#introducao01
{
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    margin-left: 5vw;
}

#introducao01 h1
{
    font-size: 4vw;
    font-weight: 100;
}

#introducao01 p
{
    text-align: center;
    color: rgb(56, 56, 56);
    font-size: 2vw;
}

#introducao01 button
{
    width: 15vw;
    height: 13vh;
    border: 0;
    background-color: #537922;
    border-radius: 999px;
    color: white;
    font-size: 2vw;
    transition: 0.2s;
    margin-top: 20vh
}

#introducao01 button:hover
{
    background-color: #3b5716;      
}

#fundoVerde
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: #badf8b;
    font-size: 1.5vw;
    margin-top: 25vh;
    margin-bottom: 25vh;
}

#fundoVerde img
{
    border-radius: 100%;
    width: 10vw;
    border: solid black 2px;
}

.topicos
{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

#fundoAtendNutri
{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 3px solid rgb(75, 75, 75);
    background-image: url(Imagens/Inicio/Fundo\ AtendNutri.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}


#fundoAtendNutri h1
{
    color: white;
    font-weight: 100;
    font-size: 3.3vw;
    text-align: center;
    margin-top: 8vh;
}

#fundoBeje
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #645c3c;
    width: 40vw;
    height: 60vh;
    border-radius: 50px;
    margin-top: 7vh;
    text-align: center;
    color: white;
    font-size: 2.5vw;
}

#fundoBeje button
{
    width: 12vw;
    height: 6VW;
    border-radius: 999px;
    border: 0;
    background-color: #709b2a;
    color: white;
    font-size: 2vw;
    margin-top: 7vh;
    transition: 0.2s;
}

#fundoBeje button:hover
{
    background-color: #395212;
}

#CliquePver
{
    width: 10vw;
    height: 6VW;
    border-radius: 999px;
    border: 0;
    background-color: #709b2a;
    color: white;
    font-size: 1.5vw;
    margin-top: 5vh;
    transition: 0.2s;
}

#CliquePver:hover
{
    background-color: #395212;
}

#imgReceita
{
    border-radius: 100%;
    width: 17vw;
    height: 17vw;
    margin-left: 7vw;
}

footer
{
    width: 100%;
    background-color: #badf8b;
    margin-top: 15vh;
}

#linha1Footer
{
    display: flex;
    align-items: center;
    width: 100%;
}

#linha1Footer img
{
    border-radius: 100%;
    border: solid 2px #25995c;
    width: 7vw;
    height: 7vw;
    margin: 2vw;
}

#linha1Footer button
{
    border-radius: 999px;
    border: 0;
    background-color: #709b2a;
    width: 15vw;
    height: 5vw;
    color: white;
    font-size: 2vw;
    margin-left: 31vw;
}

